{# {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }} #}
<div class="space-y-10 divide-y divide-gray-900/10">

  <div class="flex justify-center m-auto gap-x-8 gap-y-8 pt-10 ">
    <div class="bg-white ring-1 shadow-xs ring-gray-900/5 sm:rounded-xl md:col-span-2">
    {{ form_start(form) }}
      <div class="px-4 py-6 sm:p-8">
        <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
          <div class="sm:col-span-3">
            <label for="title" class="block text-sm/6 font-medium text-gray-900">Title</label>
            <div class="mt-2">
              <input type="text" name="{{ field_name(form.title) }}" value="{{ field_value(form.title) }}" id="title" autocomplete="given-name" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 border">
            </div>
          </div>

          <div class="sm:col-span-3">
            <label for="last-name" class="block text-sm/6 font-medium text-gray-900">Client</label>
            <div class="mt-2">
            <select name="{{ field_name(form.id_client) }}" class="block w-full rounded-md bg-white px-3 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 border">
              <option value="">{{ field_label(form.id_client) }}</option>

              {% for label, value in field_choices(form.id_client) %}
                  <option value="{{ value }}">{{ label }}</option>
              {% endfor %}
          </select>
            </div>
          </div>

          <div class="col-span-full">
            <label for="description" class="block text-sm/6 font-medium text-gray-900">Description</label>
            <div class="mt-2">
            <textarea name="{{ field_name(form.description) }}" value="{{ field_value(form.description) }}" id="description" rows="3" class="resize-none block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 border"></textarea>
            </div>
          </div>

          <div class="col-span-full">
            <label for="Status" class="block text-sm/6 font-medium text-gray-900">Status</label>
            <div class="mt-2">
              <select name="{{ field_name(form.status) }}" class="resize-none block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 border">
                  <option value="">{{ field_label(form.status) }}</option>

                  {% for label, value in field_choices(form.status) %}
                      <option value="{{ value }}">{{ label }}</option>
                  {% endfor %}
              </select>
            </div>
          </div>

          <div class="sm:col-span-2 sm:col-start-1">
            <label for="city" class="block text-sm/6 font-medium text-gray-900">Budget</label>
            <div class="mt-2">
              <input type="number" name="{{ field_name(form.budget) }}" value="{{ field_value(form.budget) }}" id="city" autocomplete="address-level2" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 border">
            </div>
          </div>

          <div class="sm:col-span-2">
            <label for="start_date" class="block text-sm/6 font-medium text-gray-900">Start Date</label>
            <div class="mt-2">
              <input type="date" name="{{ field_name(form.start_date) }}" value="{{ field_value(form.start_date) }}" id="start_date" autocomplete="address-level1" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 border">
            </div>
          </div>

          <div class="sm:col-span-2">
            <label for="end_date" class="block text-sm/6 font-medium text-gray-900">End Date</label>
            <div class="mt-2">
              <input type="date" name="{{ field_name(form.end_date) }}" value="{{ field_value(form.end_date) }}" id="end_date" autocomplete="postal-code" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 border">
            </div>
          </div>
        </div>
      </div>
      <div class="flex items-center justify-end gap-x-6 border-t border-gray-900/10 px-4 py-4 sm:px-8">
        <a href="{{ path('app_projects_index') }}"><button type="button" class="text-sm/6 font-semibold text-gray-900">Cancel</button></a>
        <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Save</button>
      </div>
      {{ form_end(form) }}
    </div>
  </div>
</div>
