{% extends 'base.html.twig' %}

{% block title %}Deliverables index{% endblock %}

{% block body %}
    <h1>Deliverables index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Delivery_date</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for deliverable in deliverables %}
            <tr>
                <td>{{ deliverable.id }}</td>
                <td>{{ deliverable.name }}</td>
                <td>{{ deliverable.description }}</td>
                <td>{{ deliverable.deliveryDate ? deliverable.deliveryDate|date('Y-m-d') : '' }}</td>
                <td>{{ deliverable.status.value }}</td>
                <td>
                    <a href="{{ path('app_deliverables_show', {'id': deliverable.id}) }}">show</a>
                    <a href="{{ path('app_deliverables_edit', {'id': deliverable.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_deliverables_new') }}">Create new</a>
{% endblock %}
